/* ANIMATIONS */
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

@keyframes aparecer {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1; } }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

html {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 62,5%;
  overflow-x: hidden; }

body {
  height: auto; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #6b0b2b;
  font-family: 'Nunito';
  font-style: italic; }

p {
  font-family: 'Nunito'; }

.titulos {
  color: #dd066a;
  font-weight: bolder;
  font-family: 'Nunito';
  font-weight: bolder;
  animation-name: tracking-in-expand;
  animation-iteration-count: 1;
  animation-duration: 1s; }

.subtitulos {
  color: #be558a;
  font-family: 'Nunito';
  font-weight: lighter;
  animation-name: tracking-in-expand;
  animation-iteration-count: 1;
  animation-duration: 1s; }

.main {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  align-items: center; }
  .main__article {
    display: flex;
    flex-direction: column;
    width: 80%; }

footer {
  background-color: #eedce8;
  display: flex; }
  footer h1 {
    color: #3f393d;
    font-family: 'Dancing Script';
    font-size: 1,3em; }
  footer h2 {
    font-family: 'Nunito';
    font-size: .8em;
    font-style: italic;
    color: #6d656a; }

footer img {
  width: 20px; }

.encabezado {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  background-color: #fae8ee;
  line-height: 1px; }
  .encabezado h1 {
    text-align: center;
    color: #383135;
    font-family: 'Dancing Script';
    font-size: 3em; }
  .encabezado h2 {
    text-align: center;
    font-family: 'Nunito';
    font-size: 1em;
    font-style: italic; }
  .encabezado h1.encabezado__index {
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: 1; }

#menu {
  background-color: #dbdbdb; }

ul li:hover {
  background-color: #a19e9c;
  transition: background-color .8s; }

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrap {
  width: 100%;
  height: 100%;
  margin: 50px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.tarjeta-wrap {
  margin: 50px;
  -webkit-perspective: 800;
  perspective: 800; }

.tarjeta {
  width: 300px;
  height: 350px;
  background: #fae8ee;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65); }

.adelante, .atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.adelante {
  width: 100%; }

.atras {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #383135;
  font-family: "open sans";
  background: #fae8ee; }

.tarjeta-wrap:hover .tarjeta {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.card1 {
  background-image: url(../public/childcare_experience.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card2 {
  background-image: url(../public/driving_and_trasportation.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card3 {
  background-image: url(../public/criminal_background.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card4 {
  background-image: url(../public/age.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card5 {
  background-image: url(../public/education_and_study.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card6 {
  background-image: url(../public/speach_bubble.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card7 {
  background-image: url(../public/room_and_board.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card8 {
  background-image: url(../public/driving_and_trasportation.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card9 {
  background-image: url(../public/tidying_up.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card10 {
  background-image: url(../public/education_and_study.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card11 {
  background-image: url(../public/age.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card12 {
  background-image: url(../public/bedtime.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card13 {
  background-image: url(../public/time_off.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card14 {
  background-image: url(../public/global_support.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card15 {
  background-image: url(../public/time.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.card16 {
  background-image: url(../public/bedtime.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; }

@media screen and (max-width: 1024px) {
  .wrap {
    width: 100%;
    height: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: auto; }
  .tarjeta {
    transform: rotateY(180deg); }
  .atras {
    width: 100%; } }

.formulario {
  padding: 3rem;
  width: 600px; }

.titulo-contacto {
  padding: 3rem; }

label {
  font-family: 'Nunito'; }

@media (max-width: 450px) {
  .formulario {
    width: 300px;
    padding: 0; }
  .titulo-contacto {
    padding: 3rem; } }

img {
  width: 100%;
  transition: 1s; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 500px);
  padding: 50px;
  column-gap: 50px;
  row-gap: 0; }

.grid__article1 {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center; }

.grid__imagen1 {
  grid-column: 3/5;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.grid__article2 {
  grid-column: 1/5;
  grid-row: 2/3;
  align-self: center; }

.grid__article3 {
  grid-column: 1/3;
  grid-row: 3/4;
  align-self: center; }

.grid__imagen2 {
  grid-column: 3/5;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.grid__article4 {
  grid-column: 3/5;
  grid-row: 4/5;
  align-self: center;
  margin-top: 100px; }

.grid__imagen3 {
  grid-column: 1/3;
  grid-row: 4/5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 100px; }

.grid__article5 {
  grid-column: 1/5;
  grid-row: 5/6;
  align-self: center;
  margin-top: 100px; }

@media (max-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 500px);
    padding: 50px;
    column-gap: 50px;
    row-gap: 0; }
  .grid__article1 {
    grid-column: 1/5;
    grid-row: 1/2;
    align-self: center; }
  .grid__imagen1 {
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .grid__article2 {
    grid-column: 1/5;
    grid-row: 3/4;
    align-self: center; }
  .grid__article3 {
    grid-column: 1/5;
    grid-row: 4/5;
    align-self: center; }
  .grid__imagen2 {
    grid-column: 1/5;
    grid-row: 5/6;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .grid__article4 {
    grid-column: 1/5;
    grid-row: 6/7;
    align-self: center;
    margin-top: 100px; }
  .grid__imagen3 {
    grid-column: 1/5;
    grid-row: 7/8;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 100px; }
  .grid__article5 {
    grid-column: 1/5;
    grid-row: 8/9;
    align-self: center;
    margin-top: 100px; } }

@media (max-width: 510px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, auto);
    padding: 50px;
    column-gap: 0;
    row-gap: 0; }
  .grid__article1 {
    grid-column: 1/5;
    grid-row: 1/2;
    align-self: center; }
  .grid__imagen1 {
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 100px; }
  .grid__article2 {
    grid-column: 1/5;
    grid-row: 3/4;
    align-self: center;
    padding-bottom: 100px; }
  .grid__article3 {
    grid-column: 1/5;
    grid-row: 4/5;
    align-self: center; }
  .grid__imagen2 {
    grid-column: 1/5;
    grid-row: 5/6;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .grid__article4 {
    grid-column: 1/5;
    grid-row: 6/7; }
  .grid__imagen3 {
    grid-column: 1/5;
    grid-row: 7/8;
    width: 100%;
    height: 100%;
    justify-self: self-start; }
  .grid__article5 {
    grid-column: 1/5;
    grid-row: 8/9;
    align-self: center; } }
