/* NORMALIZE */
        html {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            width: 100vw;
            height: auto;
            box-sizing: border-box;
            font-size: 62,5%;
            overflow-x: hidden;
        }
/* font-family: 'Dancing Script', cursive;
        Regular 400
font-family: 'Nunito', sans-serif;
        Light 300
        Regular 400
        Bold 700 */

/* DISEÑO GENERAL*/
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: rgb(107, 11, 43);
            font-family: 'Nunito';
            font-style: italic;
        }
        p {
            font-family:'Nunito'
        }
        .titulos {
            color: rgb(221, 6, 106);
            font-weight: bolder;
            font-family: 'Nunito';
            font-weight: bolder;
            animation-name: tracking-in-expand;
            animation-iteration-count: 1;
            animation-duration: 1s;
            
        }
        .subtitulos {
            color: rgb(190, 85, 138);
            font-family: 'Nunito';
            font-weight: lighter;
            animation-name: tracking-in-expand;
            animation-iteration-count: 1;
            animation-duration: 1s;
        }
        
        .main {
            display: flex;
            flex-direction: column;
            padding-top: 7rem;
            align-items: center;
        }
        .main__article{
            display: flex;
            flex-direction: column;
            width:80% ;
        }
/* DISEÑO ENCABEZADO Y MENU */

        .encabezado {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 10%;
            background-color: rgb(250, 232, 238);
            line-height: 1px;
        }
        .encabezado h1 {
            text-align: center;
            color: rgb(56, 49, 53);
            font-family: 'Dancing Script';
            font-size: 3em;
        }
        .encabezado h1.encabezado__index { 
            animation-duration: 1s;
            animation-name: aparecer;
            animation-iteration-count: 1;
            }
        .encabezado h2 {
            text-align: center;
            font-family: 'Nunito' ;
            font-size: 1em;
            font-style: italic;
        }
        #menu {
            background-color: rgb(219, 219, 219);
            padding: 0 10rem;
        }
       
        li 
        {
            padding: 0 6rem;
        }

        ul li:hover {
            background-color: rgb(161, 158, 156);
            transition: background-color .8s;
        }
      
       

/* DISEÑO INDEX */
        #grids {
            display: grid;
            grid-template-columns: repeat(12,1fr);
            grid-template-rows: repeat(6,1fr);
            padding: 3rem 0;
            margin: 0 0 0 0;
            background-image: linear-gradient(to top, rgb(247, 54, 182) 5%, #ffa3d5, #fcaad5 50%, #f9b1d6, #f6b8d6,#ffffff);
            
        }    
        
        img {
            width: 100%;
            transition: 1s;
        }
        img:hover {
            transform: scale(1.2);
        }
/* DISEÑO CONTACTO */
        form {
            margin-left: 5rem ;
            border: dotted;
            padding: 3rem;
            width: 300px;
        }
        label {
            font-family: 'Nunito';  
        }
/* Responsive */
    @media only screen and (max-width: 840px) {
        .encabezado {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(250, 232, 238);
        line-height: 1px;
        }
        #menu {
            display: flex;
            justify-content:flex-start;
            background-color: rgb(219, 219, 219); 
        }

        #menu ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1px;
        }
        
}
/* DISEÑO FOOTER */
            footer {
                background-color:rgb(247, 54, 182) ;
                display: grid;
                grid-template-columns: auto auto auto ;

            }
            .footer__logo {
                line-height: 1px;
                grid-column: 1 / 2;
                align-self: center;
                justify-self: center;
            }
            footer h1 {
                color: rgb(240, 221, 232);
                font-family: 'Dancing Script';
                font-size: 1,5em;
            }
            footer h2 {
                font-family: 'Nunito' ;
                font-size: .8em;
                font-style: italic;
                color: rgb(240, 221, 232);;
            }
            footer h3 {
                font-size: .4em;
            }
            .footer__menu {
                grid-column: 2/3;   
                font-size: .8em;
                text-decoration-line: underline;
                align-self: center;
                justify-self: center;
            }
            .footer__redes {
                grid-column: 3/4;
                align-self: center;
                justify-self: center;
            }
            .footer__redes img {
                width: 20px;
            }
/* ANIMATIONS */
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
@keyframes aparecer {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  